/* 头部 */
.header {
  height: 28px;
  color: #d5d5d5;
  background-color: #545652;
  font-size: 0;
}

.header ul li {
  font-size: 12px;
  display: inline-block;
  line-height: 28px;
}

.header .header-left ul li {
  float: left;
}

.header ul li a {
  color: #d5d5d5;
  padding: 0 12px;
  height: 28px;
  font-size: 12px;
}

.header ul li a:hover {
  color: #fff;
}

.header .header-right ul li {
  float: right;
}

.header .header-right ul .login {
  margin: 0 12px 0 0;
}

.header .header-right ul .download {
  margin-right: 5px;
}

.header .header-right ul .download a {
  padding: 0 8px;
}
/* 导航栏 */
.nav {
  width: 100%;
  height: 115px;
  background-color: #f0f3f5;
  margin-bottom: 40px;
}

.nav .nav-wrap {
  width: 100%;
  height: 75px;
  border-bottom: 1px solid #e5ebe4;
  /* background-color: green; */
}

.nav .nav-wrap .nav-center {
  width: 1040px;
  margin: 0 auto;
  background-color: #fff;
  padding: 10px 0 5px;
  height: 59px;
  position: relative;
  background-color: #f0f3f5;
}

.nav .nav-wrap .nav-center .nav-logo {
  width: 145px;
  height: 56px;
  margin: 0 13px 0 0;
  float: left;
  /* background-color: red; */
  background: url(../images/douban-logo.png) no-repeat 0 12px;
}

.nav .nav-wrap .nav-center .nav-logo a {
  width: 100%;
  height: 100%;
  display: block;
}

.nav .nav-wrap .nav-center .nav-search {
  margin-left: 145px;
  width: 895px;
  height: 34px;
  /* background-color: pink; */
  padding: 10px 0 15px 0;
}

.nav .nav-wrap .nav-center .nav-search .search {
  background-image: url(../images/nav_mv_bg.png);
  float: left;
  width: 470px;
  height: 34px;
  text-align: center;
  margin-right: -3px;
}

.nav .nav-wrap .nav-center .nav-search .search input {
  width: 96%;
  height: 30px;
  padding-left: 10px;
  border: none;
  font-size: 13px;
}

.nav .nav-wrap .nav-center .search-btn {
  width: 37px;
  height: 34px;
  overflow: hidden;
}

.nav .nav-wrap .nav-center .search-btn input {
  background: url(../images/nav_mv_bg.png) no-repeat 0 -40px;
  width: 100%;
  height: 100%;
  font-size: 0;
  padding: 35px 0 0 0;
  cursor: pointer;
  border: none;
}

.nav .nav-wrap .nav-secondary {
  width: 1040px;
  margin: 0 auto;
  height: 40px;
  background-color: #f0f3f5;
}

.nav .nav-wrap .nav-center .bangdan {
  width: 186px;
  height: 96px;
  background-color: purple;
  position: absolute;
  left: 720px;
  top: 10px;
  background: url(../images/annual_2018.png) center/contain no-repeat;
}

.nav .nav-secondary ul li {
  display: inline-block;
  font-size: 14px;
  line-height: 40px;
  margin-right: 25px;
}

.nav .nav-secondary ul li a {
  color: #27a;
  font-size: 14px;
}

.nav .nav-secondary ul li a:hover {
  background-color: #37a;
  color: #fff;
}
/* 主体 */
.wrap {
  width: 1040px;
  height: 2300px;
  margin: 0 auto;
  /* background-color: #ccc; */
}

.wrap .content {
  width: 1040px;
  margin: 0 auto;
  height: 2228px;
  /* background-color: #aaa; */
}

.wrap .content .content-left {
  width: 675px;
  height: 2200px;
  padding-right: 40px;
  /* background-color: grey; */
  float: left;
}

.wrap .content .content-left .screening {
  width: 100%;
  height: 324px;
  /* background-color: skyblue; */
  margin-bottom: 36px;
}

.wrap .content .content-left .screening .botton {
  width: 46px;
  height: 18px;
  float: right;
  margin: 5px 0 0 15px;
}

.wrap .content .content-left .screening .botton a {
  width: 18px;
  height: 18px;
  margin-right: 5px;
  float: left;
  cursor: pointer;
  background: url(../images/slide_swithc_2.png) no-repeat;
}

.wrap .content .content-left .screening .botton a:nth-child(2) {
  background-position: -18px 0;
}

.wrap .content .content-left .screening .screening-bd {
  height: 270px;
  overflow: hidden;
  position: relative;
}

.wrap .content .content-left .screening .screening-bd ul .image {
  height: 161px;
  overflow: hidden;
  margin-bottom: 12px;
}

.wrap .content .content-left .screening .screening-bd ul {
  display: inline-block;
  margin-right: 25px;
  width: 112px;
  height: 270px;
  overflow: hidden;
}

.wrap .content .content-left .screening .screening-bd .ml {
  margin-left: -6px;
}

.wrap .content .content-left .screening .screening-bd ul .title {
  font-size: 14px;
  height: 22px;
  overflow: hidden;
  text-align: center;
}

.wrap .content .content-left .screening .screening-bd ul .title a {
  color: #333;
}

.wrap .content .content-left .screening .screening-bd ul .tips {
  text-align: center;
}

.wrap .content .content-left .screening .screening-bd ul .tips span {
  font-size: 12px;
  display: inline-block;
  margin: 4px auto 2px;
}

.wrap .content .content-left .screening .screening-bd ul .btn span {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 90px;
  height: 24px;
  line-height: 24px;
  background-color: #268dcd;
  color: #fff;
  border-radius: 2px;
  margin-top: 5px;
}

.wrap .content .content-left .screening .screening-bd ul .btn span a {
  color: #fff;
  font-size: 12px;
}

.wrap .content .content-left .screening .screening-bd ul li img {
  width: 128px;
}

.wrap .content .content-left .screening .tip {
  width: 28px;
  height: 30px;
  float: right;
  font-size: 12px;
  line-height: 30px;
}

.content h2 {
  color: #111;
  padding-bottom: 10px;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 18px;
  font: 16px Arial, Helvetica, sans-serif;
}

.content h2 span {
  margin-left: 15px;
  font-size: 13px;
}

.content h2 span a {
  color: #37a;
  font-size: 13px;
}

.content h2 span a:hover {
  color: #fff;
  background-color: #37a;
}

.content .gallery-frames {
  margin-bottom: 36px;
  width: 675px;
  height: 290px;
  background-color: green;
}

.content .reviews {
  width: 675px;
  height: 697px;
  margin-bottom: 36px;
  /* background-color: green; */
}

.content .reviews .reviews-bt .review {
  height: 143px;
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #eaeaea;
}

.content .reviews .reviews-bt .review-meta a,
.content .reviews .reviews-bt .review-meta .pinglun {
  color: #666;
  text-decoration: none;
  font-size: 13px;
}

.content .reviews .reviews-bt .review-meta .star {
  background-position: 0 0px;
  background: url(../images/ic_rating_s.png) no-repeat;
  display: inline-block;
  width: 55px;
  height: 11px;
  margin: 0 3px 0 0;
}

.content .reviews .reviews-bt .review-content {
  line-height: 20px;
  font-size: 13px;
}

.content .reviews .reviews-bt .review-content a {
  font-size: 13px;
}

.content .reviews .reviews-bt .review-content a:hover {
  background-color: #37a;
  color: #fff;
}

.content .reviews .reviews-bt .review:last-child {
  border-bottom: none;
}

.content .reviews .reviews-bt .review-hd {
  width: 68px;
  float: left;
  height: 100px;
}

.content .reviews .reviews-bt .review-hd img {
  width: 68px;
}

.content .reviews .reviews-bt .review-bd {
  padding-left: 83px;
}

.content .reviews .reviews-bt .review-bd h3 a {
  font-weight: 400;
}

.content .reviews .reviews-bt .review-bd h3 a:hover {
  background-color: #37a;
  color: #fff;
}

.content .reviews .reviews-bt .review-bd .review-meta {
  padding: 5px 0;
}

.content .content-right {
  width: 300px;
  height: 1133px;
  /* background-color: pink; */
  float: right;
}

.content .content-right .aside-answer {
  margin: 0 0 20px;
  padding: 12px 0 12px 18px;
  line-height: 1.5;
  background: #f2f7f6;
  height: 19px;
  position: relative;
}

.content .content-right .aside-answer a {
  font-size: 13px;
  margin-bottom: -5px;
  position: absolute;
  top: 12px;
}

.content .content-right .aside-hot {
  margin: 0 0 20px;
  padding: 16px 0 16px 18px;
  line-height: 1.5;
  background: #f2f7f6;
}

.content .content-right .aside-hot h2 {
  margin: 0;
  padding: 0;
  border: 0 none;
  color: #072;
}

.content .content-right .aside-hot ul li {
  margin-top: 8px;
}

.content .content-right .aside-hot ul li a {
  font-size: 13px;
}

.content .content-right .aside-hot ul li a:hover {
  background-color: #37a;
  color: #fff;
}

.content .content-right .board {
  width: 100%;
  height: 401px;
  margin-bottom: 50px;
}

.content .content-right .board table .number {
  width: 20px;
  font-size: 9px;
  text-align: center;
}

.content .content-right .board table td {
  padding: 7px 0;
  border-bottom: 1px solid #eaeaea;
}

.content .content-right .board table .name {
  width: 290px;
}

.content .content-right .board table .name a {
  font-size: 13px;
}

.content .content-right .board table .name a:hover {
  background-color: #37a;
  color: #fff;
}

.content .content-right .board .board-hd h2 {
  margin-bottom: 5px;
  color: #111;
  padding-bottom: 10px;
  border-bottom: 1px solid #eaeaea;
}

.content .content-right .board .board-bd ul li span {
  width: 20px;
  font-size: 9px;
  text-align: center;
}

.content .content-right .db-list {
  margin-bottom: 40px;
}

.content .content-right .db-list ul li {
  padding: 15px 0;
  border-bottom: 1px solid #eee;
}

.content .content-right .db-list ul li span {
  font-size: 13px;
  float: right;
  color: #999;
}

.content .content-right .db-list h2 {
  margin-bottom: 10px;
}

.content .content-right .db-list ul li .title {
  width: 247px;
}

.content .content-right .db-list ul li .title a {
  font-size: 13px;
}

.content .content-right .db-list ul li .title a:hover {
  background-color: #37a;
  color: #fff;
}

.content .content-right .cooperation {
  height: 125px;
}

.content .content-right .cooperation .email ul li {
  line-height: 24px;
  font-size: 13px;
}

.content .content-right .cooperation .email ul li img {
  height: 14px;
  margin-top: -2px;
  vertical-align: middle;
}

.content .content-right .cooperation .email ul li .new {
  height: auto;
}

.content .content-right .app {
  margin-bottom: 40px;
  height: 137px;
}

.content .content-right .app ul li {
  width: 60px;
  float: left;
  font-size: 12px;
  text-align: center;
}

.content .content-right .app ul li .weibo {
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 auto 5px auto;
  background-image: url(../images/home_weibo.png);
}

.content .content-right .app ul li .weixin {
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 auto 5px auto;
  background-image: url(../images/home_weixin.png);
}

.content .content-right .app ul li .banzuo {
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 auto 5px auto;
  background-image: url(../images/bite_me@2x.jpg);
}

.content .content-right .app ul li .yingren {
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 auto 5px auto;
  background-image: url(../images/home_film_pro@2x.jpg);
}

.content .content-right .app ul li .guanyin {
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 auto 5px auto;
  background-image: url(../images/home_club@2x.jpg);
}

.content .content-right .app ul li .link {
  font-size: 12px;
}

.content .content-right .app ul li .link:hover {
  background-color: #37a;
  color: #fff;
}

.wrap .footer {
  color: #999;
  padding: 6px 0;
  margin-top: 40px;
  overflow: hidden;
  height: 19px;
  border-top: 1px dashed #ddd;
}
/* 尾部 */
.footer .sp-left {
  font-size: 12px;
  line-height: 1.62;
  float: left;
}

.footer .sp-right {
  float: right;
}

.footer .sp-right a {
  font-size: 12px;
}

.footer .sp-right a:hover {
  background-color: #37a;
  color: #fff;
}